# VuePress files
blog/.vuepress/.temp/
blog/.vuepress/.cache/
blog/.vuepress/dist/
/dist/
/templates/

# Dist files
lib/

.obsidian/
urls.txt
urls.json

# Test temp files
**/__fixtures__/.temp/

# Node modules
node_modules/

# MacOS Desktop Services Store
.DS_Store

# Log files
*.log

# Typescript build info
*.tsbuildinfo
.env
