.code-copy-added-top:hover > div > .code-copy svg {
  opacity: 0.75;
}

.code-copy-added-bottom:hover > div > .code-copy svg {
  opacity: 0.75;
}

div[class*=language-].code-copy-added-top::before {
  right: 3em;
}
